[submodule "backend"]
	path = backend
	url = https://github.com/BUAA-Calendar-Dev/backend-django.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/BUAA-Calendar-Dev/frontend-vue.git
